<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-top: 2rem; /* Kartın üstünden aşağıya boşluk ekleyin */
        }
        .card-body {
            padding: 2rem; /* Daha fazla padding */
        }
        .total-price {
            margin-bottom: 1.5rem; /* Formdan önce daha fazla boşluk */
        }
        .message {
            margin-top: 2rem; /* Mesajın üstünden aşağıya boşluk ekleyin */
            color: green; /* Mesajın rengini yeşil yapın */
        }
    </style>
</head>
<body>
<header>
    <div class="site-logo" style="width: 50px" >
        <a th:href="@{/}">
            <img src="/front/assets/img/logo.png" alt="">
        </a>

    </div>
    <div >
        <a href="/cart">Geri </a>
    </div>
</header>
<div >
    <!-- Display a success message if orderSuccess is true -->
    <div class="container">
        <div class="message alert alert-success">
            Sifariş uğurla tamamlandı
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
