<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-top: 2rem; /* Kartın üstünden aşağıya boşluk ekleyin */
        }
        .card-body {
            padding: 2rem; /* Daha fazla padding */
        }
        .total-price {
            margin-bottom: 1.5rem; /* Formdan önce daha fazla boşluk */
        }
    </style>
</head>
<body>
<section layout:fragment="body">
    <div>
        <!-- Logo buraya gelecek -->
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Checkout</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 total-price">
                            <h5>Total Price: <span th:each="cart : ${carts}" th:text="${total}" id="total-price">$0.00</span></h5>
                        </div>
                        <form action="/complete-order" method="post">
                            <div class="form-group">
                                <label for="name">Ad:</label>
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Ünvan:</label>
                                <input type="text" id="address" name="address" class="form-control" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Sifarişi Tamamla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
